@model Admin.Models.Hardware

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hardware</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aquisicao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aquisicao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoHardware)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoHardware)
        </dd>

    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
